.contact {
  margin-bottom: 2rem;
}
.contact > h2 {
   margin: 1rem 0;
}

.contact__details {
   padding: 1rem 2rem;
   background-color: #0d1b2ae8;
   margin-top: -0.2rem;
   border-radius: 4px;
   
}

.icons > span {
  color: whitesmoke;
}

.section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.section > form {
  width: 550px;
  max-width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid gray;
}

.cont > label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.icons > span {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.6rem;
  gap: 1rem;
}


.cont > input {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}

.cont > textarea {
   margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .contact > .section {
    flex-direction: column;
  }

  .contact__details {
    text-align: center;
  }
}
