.checkout__details {
  width: 100%;
  padding: 0.6rem 0;
}

.checkout__details > form > div > .card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkout__details > .card {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.checkout__details > form {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.checkout__details > form > div {
  width: 100%;
}

.checkout__details > form > label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
}

.checkout__details > form > .card-details {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}

.checkout__button {
   margin-top: 1rem;
   background-color: #0d1b2a;
   color: white;
}

@media screen and (max-width: 700px) {
  .checkout__details > form {
    flex-direction: column;
  }
  div {
    width: 100%;
  }
}

.succ {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid gray;
}
