.not-found {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  height: 80vh;
}

/* .not-found > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.not-found > h2 {
  font-size: 8rem;
}

.not-found > p {
  margin-bottom: 1rem;
}
